<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"
/>
{% extends 'base.html' %} {% block content %} {% for m in messages %}
<div class="column is-two-thirds">
    <article class="message">
        <div class="message-header">
            <p>Tu</p>
            <button class="delete" aria-label="delete"></button>
        </div>
        <div class="message-body" style="overflow-y: auto">{{ m.message }}</div>
    </article>
</div>
<div class="column is-two-third">
    <article class="message">
        <div class="message-header">
            <p>Bot</p>
            <button class="delete" aria-label="delete"></button>
        </div>
        <div class="message-body" style="overflow-y: auto">
            {{ m.response }}
        </div>
    </article>
</div>
{% endfor %}
<div class="hero-foot">
    <input
        class="input is-medium is-rounded is-dark"
        id="miInput"
        placeholder="Escribí un mensaje..."
    />
    <button class="button is-white mt-5" onclick="enviar()">Enviar</button>
</div>
<script>
    function enviar() {
        const valor = miInput.value;
        if (!valor.trim()) return;

        fetch("/chat", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ texto: valor }),
        })
            .then((r) => r.json())
            .then((data) => {
                // Mensaje del usuario
                document.querySelector(".hero-foot").insertAdjacentHTML(
                    "beforebegin",
                    `
                <div class="column is-two-thirds">
                    <article class="message">
                        <div class="message-header">
                            <p>Tu</p>
                        </div>
                        <div class="message-body">${valor}</div>
                    </article>
                </div>
            `,
                );

                // Respuesta del bot
                document.querySelector(".hero-foot").insertAdjacentHTML(
                    "beforebegin",
                    `
                <div class="column is-two-third">
                    <article class="message">
                        <div class="message-header">
                            <p>Bot</p>
                        </div>
                        <div class="message-body">${data.resultado}</div>
                    </article>
                </div>
            `,
                );

                miInput.value = "";
            });
    }
</script>

{% endblock %}
